 <form class="form-signin centered">
        <h2 class="form-signin-heading"> Try it today for free! </h2>

        <label for="inputFirstName" class="sign-up">first name</label>
        <input type="text" id="inputFirstName" class="form-control" placeholder="" required autofocus>

        <label for="inputLstName" class="sign-up">last name</label>
        <input type="text" id="inputLastName" class="form-control" placeholder="" required autofocus>

        <label for="inputEmail" class="sign-up">email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="" required autofocus>
        
        <label for="inputPassword" class="sign-up">password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="" required autofocus>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        I am a 

        <div class="radio">
          <label>
            <input type="checkbox" value="user_role"> Student 
          </label>
          <label>
            <input type="checkbox" value="user_role"> Teacher
          </label>
        </div>

        <button class="btn btn-block" type="submit"> Join Now</button>
 </form>

