  
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- this collapse the nav bar and displays a dropdown button instead on smaller screens -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"> WaitWhat </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">


    <!-- once we are logged in, dont show log in forms anymore -->
      <form class="navbar-form navbar-right" role="login" ng-hide="loggedin">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="email" ng-model="user.email">
          <input type="password" class="form-control" placeholder="password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="login(user)" >login</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="currentUser"
            ng-class="{'active': $location.url()==='/home'}">
            <a href="#/home">    Home   </a></li>
        <li ng-show="currentUser"
            ng-class="{'active': $location.url()==='/profile'}">
            <a href="#/profile">My Profile</a></li>
        <li ng-show="currentUser"
            ng-class="{'active': $location.url() === '/videos'}">
            <a href="#/schedule">My Videos</a></li>
        <li ng-show="currentUser"
            ng-class="{'active': $location.url() === '/professor'}">
            <a href="#/professor">Add Video</a></li>
        <li ng-show="currentUser"
            ng-class="{'active': $location.url() === '/search'}">
            <a href="#/search"> Find a Video </a></li>
        <li ng-show="currentUser">
            <a ng-click="logout()">  Logout </a></li>

        </ul>
    </div>





